
/*ion-content {
    --background: #fff url('../../assets/image.jpg') no-repeat center center / cover;
   // background-image: url('../../assets/images/images.jpeg')
  }
 /* .getstart {

    background-image: url('../../assets/images/images.jpeg');
    // background: url('../../img/getstart.png');
    background-repeat: no-repeat;
    background-size:cover;
  }*/

/*ion-content {
  --background: #fff url('../../assets/images.jpeg') no-repeat center center / cover;
}*/
